@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center d-flex justify-content-between">
    <div>
        <h1>Log In</h1>
        @await Html.PartialAsync("_Login")
    </div>

    <div>
        <h1>Register</h1>
        @await Html.PartialAsync("_Register")
    </div>
</div>
